@using RiotSharp
@{
    ViewData["Title"] = "bonecos";
    var api = RiotApi.GetDevelopmentInstance("RGAPI-06522ddd-bbd4-4623-af26-6a76d8c5948e", 20, 100);
    var allVersions = api.DataDragon.Versions.GetAllAsync().Result;
    var latestVersion = allVersions[0];
    var champions = api.DataDragon.Champions.GetAllAsync(latestVersion).Result.Champions.Values;
}

<div class="text-center">
    <h1 class="display-4">PAGINA DE BONECOS</h1>
    <div>
        @{
            //var aatrox = champions.FirstOrDefault();
            foreach(var champion in champions)
            {
                var img = "http://ddragon.leagueoflegends.com/cdn/14.8.1/img/champion/" + champion.Name.Replace("'","").Replace(" ","").Replace(".","") + ".png"; ;
                <h1><img src="@img" /> @champion.Name.Replace("'","").Replace(" ","")</h1>
            
        }

    }
    </div>
</div>

